
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
  }

      
  
  .text-box {
    height: 199px;
    background-color: #b16e96e0;
    border-bottom: 20px solid teal;
    color: teal;
    display: flex;
    padding: 68px 350px;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .pic-wrapper {
    height: 300px;
    width: 350px;
    border: 1px solid #8a817c;
    padding: 10px;
    box-shadow: 5px 10px 18px #8a817c;
  }
  
  

    
